mat-card {
  width: calc(100% - 32px);

  cursor: pointer;
}

mat-card:hover {
    background: #333333;
}

div.discription {
  font-size: 12px;
  text-overflow: ellipsis;

  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  -moz-line-clamp: 5;
  -ms-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    margin: 0px !important;
    padding: 0px !important;
}