<div class="food-detail-container">
    <div class="header">
        <mat-card>
            <mat-card-title>{{ food.name }}</mat-card-title>
            <mat-card-content>
                <p>
                    {{ food.discription }}
                </p>
                <p style="font-weight: bold;">
                    قیمت: {{ food.price }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="body">
        <div class="comment" *ngFor="let comment of comments">
            <mat-card>
                <mat-card-title>
                    {{comment.text}}
                </mat-card-title>

                <mat-card-content>
                    <div *ngIf="comment.response">
                        {{comment.response}}
                    </div>
                    <form>
                      <input type="text" *ngIf="!comment.response">
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
